extends layout.pug

block content
        .container
                .jumbotron.text-center
                        h1.fa.fa-comments What a poll!
                .container.jumbotron
                        h2 #{poll.title}
                        .container.col-sm-6.col-xs-12.well
                            .row.text-center
                                form(id="votingpoll" name="voteforpoll" action="/poll/"+poll._id+"/answer" method="post")
                                    .form-group
                                        select(name="answerselected").form-control
                                          each answer in answers
                                            option(value=answer._id) #{answer.title}
                                        button(type="submit").btn.btn-success Vote
                                        span  
                                        a#addcustomoptionbtn.btn.btn-warning.navbar-btn(type='button')
                                            i.fa.fa-plus
                                            |  Add custom option
                                form(id="addcustomoption", style="display:none;").form-inline.row
                                    .form-group
                                        input#customoption.form-control(name='customoption' type='text', placeholder='whatever you want')
                                    span  
                                    button.btn.btn-primary(type='submit')  + 
                            .row.text-center.col-xs-12
                                a(href="https://twitter.com/intent/tweet?text=Go%20See%20This%20%Poll%20https://voting-app-project-benobab.c9users.io/poll/" + poll._id).btn.navbar-btn(type='button').twitter-share
                                    i.fa.fa-twitter
                                    |  Share it
                        .container.col-sm-6
                            canvas#mychart(width="400", height="400")
                script(type='text/javascript').
                    /*Function to update the chart*/
                    $(document).ready(function(){
                        /*To run this function when the page is loaded ;-)*/
                        window.onload = function() {
                          getDataset();
                        };
                        $('#addcustomoptionbtn').on('click',function(){
                            /*Manage if we show the form to add a custom option or not*/
                            if($("#addcustomoption").is(":visible")){
                               $("#addcustomoption").hide(500);  
                            }else{
                               $("#addcustomoption").show(500);
                            }
                        });
                        
                        $('#shareOnTwitter').on('click', function(){
                            var pollUrl = window.location.href;
                            var text = "https://twitter.com/intent/tweet?text=Go%20See%20This%20%Poll%20https://voting-app-project-benobab.c9users.io/poll/" + poll._id;
                            window.location.href = text;
                        });
                        
                        var getDataset = function() {
                            var url = "/poll/"+"#{poll._id}"+"/dataset";
                            $.get(url, function( data ) {
                              updateChart(JSON.parse(data));
                            });
                        }
                        
                        var updateChart = function(data){
                        console.log(data);
                        var ctx = $('#mychart'); //The chart that is going to be updated
                        console.log(ctx);
                        console.log("I'll update the chart");
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: data
                        });
                    }
                    
                        /*Function to add a custom option*/
                    $('#addcustomoption').submit(function(event) {
                            event.preventDefault(); // Stops browser from navigating away from page
                            var url = "/poll/"+"#{poll._id}"+"/add/";
                            $.post(url,$('#addcustomoption').serialize(), function( data ) {
                              var datas = JSON.parse(data);
                              if(data.message){
                                alert(datas.message);
                              }
                              if(!(datas.err) && !(datas.error)){
                                getDataset();
                              }
                            });
                        });
                        /*Function to vote*/
                    $('#votingpoll').submit(function(event) {
                        console.log("In the good func");
                            event.preventDefault(); // Stops browser from navigating away from page
                            var url = "/poll/"+"#{poll._id}"+"/answer";
                            $.post(url,$('#votingpoll').serialize(), function( data ) {
                              var datas = JSON.parse(data);
                              alert(datas.message);
                              if(datas.refresh){
                                getDataset();   
                              }
                            });
                        });
                    });
                    
        script(src='/js/Chart.js')